/* SLIDER */

.swiper {
    position: relative;
    width: 400px;
    height: 400px;
    /* commented out to make appear above player *
    top: 250px; 
    */
    bottom: 0;
    left: 0;
    right: 0;
    
}
  
  .swiper-slide {
    position: relative;
    background-position: center;
    background-size: cover;
    border: 1px solid rgba(255, 255, 255, 0.3);
    user-select: none;
    border-radius: 20px;
    overflow: hidden;
  }
  
  .swiper-slide img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  
  
  @media (max-width: 1050px) {
    .swiper {
      width: 350px;
      height: 350px;
    }
    
    .swiper {
      grid-area: slider;
    } 
       
  }
  /*Fullscreen Images*/
  
  #full1 {
    position: relative;
    display:flex;
    width:100%; 
    height:100%;
    object-fit: cover;  
    align-items: center;
    justify-content: top;
    
  }

  body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
}

/* START spotify-player css */ 

#musicSection {
  position: relative; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
} 

.episodes {
      display: flex;
      flex-direction: column;
    }

    .episode {
      min-width: max-content;
      margin-bottom: .8rem;
      padding: .8rem 1rem;
      border-radius: 10px;
      border: 0;
      background: #214ac4;
      color: #fff;
      cursor: pointer;
    }

    .episode:hover {
      background: #1Db954;
    }

  /* 
    @media screen and (min-width: 860px) {
      body {
        display: flex;
        flex-direction: row;
        gap: 1rem;
      }
    }
  END spotify-player css */ 
  